<h1 class="elementshadow">All Contacts</h1>

<ul class="contact-display">
<% $rolodex.contacts.each do |contact| %>
	<div class="contact-box col-1-3">
	<li><strong>ID#: </strong><%= contact.id %></li>
	<li><strong>Name: </strong><%= contact.fname %> <%= contact.lname %></li>
	<li><strong>Email: </strong><%= contact.email %></li>
	<li><strong>Notes:</strong></li>
	<p><%= contact.notes %></p>
	</div>
<% end %>
</ul>