
<h1 class="textshadow">All Contacts</h1>

<% @contacts.each do |contact| %>
	<div class="col-1-3 cf word-wrap contact-box">
	<table>
	<tr><th><strong>ID#: </strong></th><th><%= contact.id %></th></tr>
	<tr><th><strong>Name: </strong></th><th><%= contact.fname %> <%= contact.lname %></th></tr>
	<tr><th><strong>Email: </strong></th><th><%= contact.email %></th></tr>
	<tr>
		<th><strong>Notes:</strong></th>
		<th><%= contact.notes %></th>
	</tr>
	<tr>
		<th></th>
		<th>
			<a href="/contacts/<%= contact.id %>">View</a>
		</th>
	</tr>
		<tr>
		<th></th>
		<th>
			<a href="/contacts/<%= contact.id %>/edit">Edit</a>
		</th>
	</tr>
	</table>
	</div>
<% end %>

	<h3 class="back-to-top cf"><a href="#topofpage">back to top</a></h3>
