<h1 class="elementshadow">All Contacts</h1>

<ul class="contact-display cf">
<% $rolodex.contacts.each do |contact| %>
	<div class="contact-box col-1-3 cf">
	<table>
	<tr><th><strong>ID#: </strong></th><th><%= contact.id %></th></tr>
	<tr><th><strong>Name: </strong></th><th><%= contact.fname %> <%= contact.lname %></th></tr>
	<tr><th><strong>Email: </strong></th><th><%= contact.email %></th></tr>
	<tr>
		<th><strong>Notes:</strong></th>
		<th><%= contact.notes %></th>
	</tr>	
	</table>
	</div>
<% end %>
</ul>